.title1{
    color: azure;
    font-size: 50px;
    margin-left: 100px;
}
.images-all{
    display: flex;
}
.icon1{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon2{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon3{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon4{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon5{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon6{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 400px;
}
.icon7{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 400px;
}
.icon8{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 400px;
}
.icon9{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 50px;
}
